/* ******MEDIA QUERIES for fonts, images and layouts****** */
/* Tiny devices */
@media (max-width: 380px) {

    .btn,
    .btn-lg1,
    .btn-lg2 {
        font-size: calc(1rem + 0.5vw);
        padding: 10%;
    }

    .nav-link {
        font-size: calc(1.375rem + 0.5vw);

    }

    #legend {
        max-height: 15vh;
    }

    #mainpanel {
        margin-top: 5vh;
    }

    #btn_row2 {
        margin-top: 1rem !important;

    }

}








/* Small devices */
@media (max-width: 418px) {
    .nav-link {
        font-size: calc(1.4rem + 0.5vw);

    }

    .row>* {
        margin-top: 0.5rem !important;
        /*TODO: avoid creating content scroll on mobile */
    }

    .btn,
    .btn-lg1,
    .btn-lg2 {
        font-size: calc(1rem + 0.5vw);

    }

    .nav-link {
        font-size: calc(1.375rem + 0.5vw);

    }

    #legend {
        max-height: 15vh;
    }

    #mainpanel {
        margin-top: 14vh;
    }

    #btn_row2 {
        margin-top: 1rem !important;

    }
}










/* Medium devices (tablet)*/
@media (max-width: 930px) {
    .nav-link {
        font-size: calc(1.4rem + 0.5vw);

    }

    .row>* {
        margin-top: 0.5rem;
        /*TODO: avoid creating content scroll on mobile */
    }

    .btn,
    .btn-lg1,
    .btn-lg2 {
        font-size: calc(1rem + 0.5vw);

    }

    .nav-link {
        font-size: calc(1.375rem + 0.5vw);

    }

    #legend {
        max-height: 15vh;
    }

    #mainpanel {
        margin-top: 14vh;
    }

    #btn_row2 {
        margin-top: 1rem !important;

    }

    .pt-5 {
        padding-top: 0.5rem !important;
    }

}










/* Large devices */
@media (max-width: 1200px) {
    .btn {
        font-size: calc(1.375rem + 0.5vw);

    }

    .jumbotron-background {
        background-image: url('../images/navbackground/md-navbg.jpg');
    }



}







/* Large devices */
@media (min-width: 1201px) {
    .btn {
        font-size: calc(1rem + 0.5vw);

    }

    #btn_body {
        margin-left: 6rem;
        margin-right: 6rem;
        margin-top: 0;

    }

    .jumbotron-background {
        background-image: url('../images/navbackground/lg-navbg.jpg');
    }



}



other items: each line will have a: 1(0) - menu category identifier 2(1) - item name 3(2) - item description 4(3) - ingredients 5(4) - local ingredients 6(5) - diet 7(6) - nutrition label Define diet icons (be sure to check styling) **Is this necessary?? probably,
to access category array by index rather than another value** make an array with all menu categories (Breakfast, Lunch, Grab&Go. etc) Read in file data break lines into menu items Read menu items into parent (menu category) array Create accordion button for each menu category <h3 class="legend-heading">Dietary Guides</h3><img class="img-responsive h-auto w-10 rounded mx-auto d-block" src="../images/icons/DairyFree.png"><img class="img-responsive h-auto w-10 rounded mx-auto d-block" src="../images/icons/GFOptions.png"><img class="img-responsive h-auto w-10 rounded mx-auto d-block" src="../images/icons/Vegetarian.png"><img class="img-responsive h-auto w-10 rounded mx-auto d-block" src="../images/icons/GlutenFree.png"><img class="img-responsive h-auto w-10 rounded mx-auto d-block" src="../images/icons/Vegan.png">